/*
  A stylesheet customizing app (custom renderers)
*/
table.htCore tr.odd td {
    background: #fafbff;
  }
  
  /*
    A stylesheet customizing Handsontable style
  */
  
  .collapsibleIndicator {
    text-align: center;
  }
  
  .handsontable .htRight .changeType {
    margin: 3px 1px 0 13px;
  }
  .handsontable .green {
    background: #37bc6c;
    font-weight: bold;
  }
  
  .handsontable .orange {
    background: #fcb515;
    font-weight: bold;
  }
  
  .btn {
    padding: 20px;
    font: 1.4em sans-serif;
  }
  [data-color="green"] {
    background: #37bc6c;
  }
  [data-color="orange"] {
    background: #fcb515;
  }
  
 /* 
My styles */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


/* html temp stuff */

/* Style the dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu */
.dropdown:hover .dropdown-content {
  display: block;
}
